body {
    background: #eee;;
}
h1 {
    color: #000f24
}
a {
    background: #000f24;
    color: #51ddd2;
    padding: 1em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
}   