body {
    background: #eee;
    color: white;
}
h1 {
    color: #1f5266
}
a {
    background: #1f5266;
    color: #fffa89;
    padding: 1em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
}   