* {
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background: #E6E8E6;
    margin: 0 20px;
}
h1 {
    font-size: 1.8vw;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: top;
    background: #fff;
    box-shadow: 3px 3px 10px #999;
}

.nav-aside {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 85%;
}

.nav-top {
    display: flex;
    align-items: end;
    justify-content: flex-start;    
}

.search {
    display: flex;
    align-items: center;
}

#magnifier {
    max-width: 20px;
    height: auto;
}

.nav-bottom {
    align-self: flex-end;
    width: 100%;
    margin-bottom: 1em;
    text-align: center;
}

.nav-bottom a {
    box-sizing: border-box;
    background: #54ac98;
    box-shadow: 3px 3px 10px #999;
    padding: 7px;
    text-decoration: none;
    font-size: 1.8vw;
    width: 15%;
    display: inline-block;
    color: #fff;
    text-shadow: 2px 2px #666;
}

.nav-bottom a:hover {
    background: #363634;
}

.nav-top button:hover {
    border: solid 1px #363634;
    background: #fff;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #999;
}

#basket {
    display: grid;
    margin-top: 2em;
    grid-template-columns: 62% 35%;
    grid-template-areas: "aside .price";
    gap: 3%;
}

.wrapper-price div {
    display: flex;
    background: #fff;
    justify-content: space-between;
    padding-right: 1em;
    padding-left: 1em;
}

.price form {
    display: flex;
    justify-content: space-between;
}

.price div > h2 {
    display: block;
    border: solid 1px #fff;
    padding: 5px 35%;
    background: #EB6142;
    color: #fff;
    text-shadow: 2px 2px #666;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.8vw;
}

.price div > h2:hover {
    background: #363634;
}

.wrapper-price {
    position: sticky;
    top: 0;
    box-shadow: 3px 3px 10px #999;
}

.wrapper-aside {
    box-shadow: 3px 3px 10px #999;
}

aside div {
    display: flex;
    background: #fff;
    justify-content: space-between;
    padding-right: 1em;
    padding-left: 1em;
}

.delivery {
    display: flex;
    flex-flow: column;
}

.payment {
    padding: 20px 5px;
}

.payment > img {
    width: 12%;
    height: 12%;
}

.item {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 70% 30%;
    grid-template-areas: "img item-name quantity" "img item-buttons item-price";
    padding: 10px 5px;
    border-bottom: solid 1px #eee;
}

.quantity {
    grid-area: quantity;
    align-items: baseline;
}

.item-price {
    grid-area: item-price
}

.item > img {
    grid-area: img;
    width: 100%;
    height: auto;
}

.item-name {
    grid-area: item-name;
    display: inline;
}

.item-buttons {
    grid-area: item-buttons;
    justify-content: center;
}

.item-buttons button {
    background: #fff;
    border: 1px solid #fff;
}

.item-buttons button:hover {
    border: solid 1px #666;
    background: #fff;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #999;
}

button > p {
    margin: 0;
    padding-bottom: 15px;
    font-size: 12px;
}

.item-buttons button > img {
    height: 30px;
    width: auto;
}

.delivery {
    border-bottom: solid 1px #eee;
}

button {
    background: #fff;
    border: 1px solid #fff;
}

button > img {
    height: 4em;
}

button > h3 {
    margin: 0;
    padding: 2px;
}

.section-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 5em;
    background: #fff;
    border-radius: 5px;
    box-shadow: 3px 3px 10px #999;
} 

.section-logo {
    width: 50%;
    text-align: center;
}

.section-bottom > div {
    display: flex;
    width: 25%;
    text-align: center;
    align-items: center;
}

footer {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    margin-top: 3em;
    background: #54ac98;
    box-shadow: 3px 3px 10px #999;
}

#nav-footer a {
    padding: 5px 10px;
    margin-top: 15px;
    margin-bottom: 8em;
    text-align: center;
    text-decoration: none;
    color: #fff;
    text-shadow: 2px 2px #666;
}
