header {
    display: flex;

}
.nav-top {
    box-sizing: border-box;
    justify-content: flex-end;
    max-width: 25%;
}

.search {
    width: 50%;
    align-items: ;
}

#magnifier {
    max-width: 20px;
    height: auto;
}


.item {
    width: 23%;
    box-sizing: border-box;
    border: 1px solid black;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
}

#item-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1em;
}

.item-logo {
    max-width: 100%;
}

.item-name {
    text-align: center;
}

.item-prices {
    text-align: center;
}

.item-old-price {
    display: inline-block;
    color: red;
}

.item-discount {
    display: inline;
    margin-left: 5px;
    padding: 2px;
    background: red;
    color: white;
}
.item-new-price {
    text-align: center;
}

.button {
    display: flex;
    justify-content: space-between;
}

 section {
    display: flex;
    justify-content: space-between;
    padding-top: 5em;
} 

.section-logo {
    width: 50%;
    text-align: center;
}

section > div {
    width: 25%;
    text-align: center;
    display: flex;
    align-items: center;
}
