
.item {
    width: 25%;
    box-sizing: border-box;
    border: 1px solid black;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
}

.item-list {
    display: flex;
    justify-content: space-between; 
}

.item-logo {
    max-width: 100%;
}

.item-name {
    text-align: center;
}

.item-prices {
    text-align: center;
}

.item-old-price {
    display: inline-block;
    color: red;
}

.item-discount {
    display: inline;
    margin-left: 5px;
    padding: 2px;
    background: red;
    color: white;
}
.item-new-price {
    text-align: center;
}
/* .chart-button {
    box-sizing: border-box;
    width: 50%;
}

.wish-button {
    width: 50%;
    box-sizing: border-box;
} */
.button {
    display: flex;
    justify-content: space-between;

}
